@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	overflow-y: scroll;
	height: 100%;
background: linear-gradient(90deg, rgba(17,10,28,1) 0%, rgba(11,14,28,1) 65%, rgba(18,23,50,1) 100%);
	margin: 0;
}

#root{
	height: 100%;
	overflow: auto;
}


body{
  overflow: hidden; /* No scrollbar on body */
}

.sun-gif{
	transform: scaleX(-1) rotate(90deg);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
	font-family: "Plus Jakarta Sans", sans-serif;
}
